{% extends 'base.html' %}


{% block content %}

<h1>가계부 수정</h1>

<form action="{% url 'products:update' product.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>사용처</label><br>
    <input type="text" name="title" value="{{ product.title }}"><br><br>

    <label>출금</label><br>
    <input type="number" name="use_money" value="{{ product.use_money }}"><br><br>
   
    <label>입금</label><br>
    <input type="number" name="add_money" value="{{ product.add_money }}"><br><br>
   
    <label>설명</label><br>
    <textarea name="description">{{ product.description }}</textarea><br><br>

    <input type="submit" class="btn btn-primary" value="등록">
</form>

{% endblock %}